[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
pandas = "*"
numpy = "*"
ipython = "*"
eth-brownie = {ref = "jg_bsc_publish", git = "https://github.com/jbargu/brownie.git"}

[requires]
python_version = "3.8"
